.image {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.sidebar-item:hover {
  background-color: rgb(175, 241, 175);
  transform: scale(0.9);
  cursor: pointer;
  opacity: 1;
  border-radius: 10px;
  /* transform: scale(1.1); */
}
.sidebar {
  overflow-y: hidden;
  overflow-x: none;
  width: 240px;
  /* border-right: 0.5px solid gray; */
}

.sidebar_text {
  font-weight: normal;
  font-size: medium;
}
.sidebar-item {
  padding: 2px;
  margin-bottom: 10px;
  height: 40px;
}
.modal_sidebar {
  height: 10px;
  width: 10px;
}

.activeLink {
  background-color: lightblue;
  transform: scale(0.9);
  cursor: pointer;
  opacity: 1;
  border-radius: 10px;
}
