.main_st {
  background-color: rgb(255, 255, 255);
  /* border: 2px solid rgb(226, 226, 226); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 10px;
}

.st_nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.social {
  margin-top: 17px;
  margin-left: 15px;
  font-size: 20px;
  color: rgb(78, 78, 78);
}

.prog {
  width: 140px;
}

.bttn_st {
  margin: 15px;
  background-color: rgb(80, 80, 255);
  border: none;
  padding: 5px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.row_nav {
  background-color: rgb(235, 235, 235);
}

.rowid {
  height: 45px;
}
