.det {
  width: 650px;
  /* margin: 20px; */
}

.cardview {
  border: none;
  border-radius: 10px;
  /* box-shadow: 4px 4px whitesmoke; */
}

.cardview:hover {
  transform: scale(0.9);
  cursor: pointer;
  /* transition: ease-in-out; */
}
